<h1>Listing adms</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adms.each do |adm| %>
  <tr>
    <td><%= adm.username %></td>
    <td><%= adm.password %></td>
    <td><%= link_to 'Show', adm %></td>
    <td><%= link_to 'Edit', edit_adm_path(adm) %></td>
    <td><%= link_to 'Destroy', adm, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adm', new_adm_path %>
